:root {
  --hue: 30; /* Orange hue (values between 20-40 work well for orange) */
  --hue-2: 45; /* Complementary/secondary orange hue */
  --hue-3: 15; /* Darker orange/burnt orange */
  --hue-4: 60; /* Warm yellow to complement orange */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
  }
  
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  canvas {
    display: block;
    width: 100vw; /* Full viewport width */
    height: 100%; /* Full viewport height */
    position: absolute;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Radial Gradient */
.bg-radial {
  background: radial-gradient(circle at center, #1c2054 0%, #000000 100%);
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background: #000; /* Fallback background for unsupported browsers */
 /* Prevent scrolling from showing gaps */
}

html,
body,
#root {
  height: 100%;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Behind content but above the gradient */
}

.content-container {
  position: relative;
  z-index: 1; /* Content above stars */
}

@keyframes border-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-border {
  position: relative;
}

.animate-border::before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background: linear-gradient(90deg, 
    #ffffff,
    /* #00ff00, 
    #0000ff, 
    #4b0082, 
    #9400d3, 
    #ff0000   */
  );
  background-size: 200% 200%;
  border-radius: 999px;
  z-index: -1;
  animation: border-animation 4s linear infinite;
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.941);
  filter: brightness(1.3);
}

.container {
    scale: 0.9;
    width: 80%;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.ourteam-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
  }
  
  .ourteam-container > div {
    flex: 0 0 120px;
    border-radius: 2rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 10px #ff8b32;
    position: relative;
    overflow: hidden;
  }
  
  .ourteam-container > div:nth-of-type(1) {
    background: url("./Team/Sandeep_M.png")
      no-repeat 50% / cover;
  }
  
  .ourteam-container > div:nth-of-type(2) {
    background: url("./Team/Gaurav_Y.png")
      no-repeat 50% / cover;
  }
  
  .ourteam-container > div:nth-of-type(3) {
    background: url("./Team/Utkarsh_R.png")
      no-repeat 50% / cover;
  }
  
  .ourteam-container > div:nth-of-type(4) {
    background: url("./Team/Yash_K.png")
      no-repeat 50% / cover;
  }
  .ourteam-container > div:nth-of-type(5) {
    background: url("./Team/Ajoy_S.png")
      no-repeat 50% / cover;
  }
  .ourteam-container > div:nth-of-type(6) {
    background: url("./Team/Keshav_R.png")
      no-repeat 50% / cover;
  }
  .ourteam-container > div:nth-of-type(7) {
    background: url("./Team/Tamal_M.png")
      no-repeat 50% / cover;
  }
  .ourteam-container > div:nth-of-type(8) {
    background: url("./Team/Abhijeet_K.png")
      no-repeat 50% / cover;
  }
  .ourteam-container > div:nth-of-type(9) {
    background: url("./Team/Saurav_S.png")
      no-repeat 50% / cover;
  }
  
  .ourteam-card {
    font-size: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures space between the top and bottom divs */
    min-height: 200px;
    opacity: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    height: 100%;
    background: rgb(2, 2, 46);
    background: linear-gradient(
      0deg,
      rgba(255, 133, 34, 0) 0%,
      rgba(233, 45, 45, 0) 100%
    );
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    visibility: hidden;
  }
  
  .ourteam-card > .top-content {
    /* Style for the top div */
    margin-bottom: auto; /* Pushes it to the top */
    font-size: 1rem;
  }
  
  .ourteam-card > .bottom-content {
    /* Style for the bottom div */
    margin-top: auto; /* Pushes it to the bottom */
    font-size: 1rem;
  }
  
  .ourteam-card .name {
    margin: 0;
    padding-top: 10px;
  }
  
  .ourteam-card .position {
    padding-bottom: 10px;
  }
  
  .ourteam-container > div:hover {
    flex: 0 0 250px;
    box-shadow: 1px 3px 15px #ff7438;
    transform: translateY(-30px);
  }
  
  .ourteam-container > div:hover .ourteam-card {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  

  .button {
    --button-background: oklch(20% 0.0666 var(--hue));
    --text-base: oklch(45% 0.175 var(--hue));
    --text-hover: oklch(95% 0.145 calc(var(--hue) + 30));
  
    --shadow-start: oklch(95% 0.145 var(--hue-2));
    --shadow-end: oklch(60% 0.29 var(--hue));
  
    /* No color function, so we can use different opacity values */
    --shadow-inner: 60% 0.29 var(--hue);
  
    all: unset;
  
    /* Text */
    color: white;
    font: 700 1.125rem/1.2 Raleway, sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
  
    /* Button sizing */
    padding: 0.85em;
    max-width: 100%;
    width: 6em;
  
    /* Button styling */
    background-color: var(--button-background);
    background-clip: padding-box;
    border: 2px solid white;
    border-radius: 1em;
    cursor: pointer;
  
    /* Effects */
    position: relative;
    transition: 0.25s ease-out;
  
    /* Set up pseudo elements */
    &::before,
    &::after {
      content: "";
      border-radius: inherit;
      transition: inherit;
      position: absolute;
      inset: 0;
      pointer-events: none;
    }
  
    /* Gradient shadow */
    &::before {
      /* Position */
      inset: -0.2em;
      z-index: -1;
  
      /* Effect */
      background: linear-gradient(var(--shadow-start), var(--shadow-end));
      filter: blur(1.2em) saturate(1.2);
  
      /* Animation */
      transform-origin: bottom;
      transform: scaleY(0.5);
      opacity: 0;
    }
  
    /* Semi-transparent blended box-shadow brightens up the border */
    &::after {
      /* Effect */
      box-shadow: inset 0 0 0 1px #fff, /* inner pixel */
        0 0 0 4px hsla(0deg, 0%, 100%, 0.5), /* lightened border */
        1px 1px 0 4px #fff; /* outer pixel */
      mix-blend-mode: overlay;
  
      /* Animation */
      opacity: 0;
    }
  
    &:hover,
    &:focus {
      color: var(--text-hover);
  
      /*  Lighten border */
      border-color: transparent;
  
      /* Inner shadow */
      box-shadow:
        inset 0 1.4em 0 oklch(var(--shadow-inner) / 0.1), /* gloss */
        inset 0 0 1.4em oklch(var(--shadow-inner) / 0.32), /* inner glow */
        0 1px 1px oklch(var(--shadow-inner) / 0.32); /* bottom line */
  
      /* Show effects */
      &::before,
      &::after {
        transform: none;
        opacity: 1;
      }
    }
  }

  .button2 {
    --button-background: oklch(20% 0.0666 black);
    --text-base: oklch(45% 0.175 var(--hue));
    --text-hover: oklch(95% 0.145 calc(var(--hue) + 30));
  
    --shadow-start: oklch(95% 0.145 var(--hue-2));
    --shadow-end: oklch(60% 0.29 var(--hue));
  
    /* No color function, so we can use different opacity values */
    --shadow-inner: 60% 0.29 var(--hue);
  
    all: unset;
  
    /* Text */
    color: rgb(124, 123, 123);
    font: 700 0.9rem/1 Raleway, sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
  
    /* Button sizing */
    padding: 0.80em;
    padding-right: 10px;
    max-width: 100%;
    width: 8em;
    margin-right: 5px;
  
    /* Button styling */
    background-color: var(--button-background);
    background-clip: padding-box;
    border: 2px solid rgb(124, 123, 123);
    border-radius: 1em;
    cursor: pointer;
  
    /* Effects */
    position: relative;
    transition: 0.25s ease-out;
  
    /* Set up pseudo elements */
    &::before,
    &::after {
      content: "";
      border-radius: inherit;
      transition: inherit;
      position: absolute;
      inset: 0;
      pointer-events: none;
    }
  
    /* Gradient shadow */
    &::before {
      /* Position */
      inset: -0.2em;
      z-index: -1;
  
      /* Effect */
      background: linear-gradient(var(--shadow-start), var(--shadow-end));
      filter: blur(1.2em) saturate(1.2);
  
      /* Animation */
      transform-origin: bottom;
      transform: scaleY(0.5);
      opacity: 0;
    }
  
    /* Semi-transparent blended box-shadow brightens up the border */
    &::after {
      /* Effect */
      box-shadow: inset 0 0 0 1px #fff, /* inner pixel */
        0 0 0 4px hsla(0deg, 0%, 100%, 0.5), /* lightened border */
        1px 1px 0 4px #fff; /* outer pixel */
      mix-blend-mode: overlay;
  
      /* Animation */
      opacity: 0;
    }
  
    &:hover,
    &:focus {
      color: orange;
  
      /*  Lighten border */
      border-color: transparent;
  
      /* Inner shadow */
      box-shadow:
        inset 0 1.8em 0 oklch(orange / 0.1), /* gloss */
        inset 0 0 1.8em oklch(orange / 0.32), /* inner glow */
        0 1px 1px oklch(orange / 0.32); /* bottom line */
  
      /* Show effects */
      &::before,
      &::after {
        transform: none;
        opacity: 1;
      }
    }
  }
  
#dynamiclogo {
    height: 100vh;
    position: relative;  /* or absolute, depending on your needs */
    /* Add other positioning properties as needed */
    top: -150px;
    left: 0;
    width: 10%;
}
  
